article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 125%;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

header {
  height: 100vh;
  background-image: url("./assets/header2.jpg");
  background-size: cover;
  background-position: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  background-color: #212d40aa;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.navContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1% 0 1%;
}

nav h2 {
  color: #ffe7d4;
}

a {
  text-decoration: none;
  color: #ffe7d4;
}

ul {
  width: 40%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headerMaterial {
  position: relative;
}

h1 {
  padding-left: 15px;
  position: absolute;
  left: 39%;
  top: 227px;
  display: inline-block;
  font-size: 45px;
  color: #ffe7d4;
}

.headingBlock {
  display: block;
}

@media (max-width: 1610px) {
  h1 {
    top: 305px;
  }
}

@media (max-width: 1220px) {
  h1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 1100px) {
  nav {
    display: none;
  }
}

@media (max-width: 950px) {
  h1 {
    font-size: 1.6rem;
    top: 315px;
  }
}

@media (max-width: 730px) {
  h1 {
    font-size: 1.5rem;
    left: 35%;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 1.4rem;
    left: 30%;
  }
}

@media (max-width: 356px) {
  h1 {
    left: 18%;
  }
}

.aboutMe {
  padding: 5% 0;
}

.aboutMeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutMeText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  margin-top: 7%;
}

.aboutMeText h2 {
  color: #212D40;
  border-bottom: 3px solid #3E5641;
}

.aboutMeText p {
  margin-top: 5%;
  color: #212D40;
}

.myPicture {
  width: 40%;
}

.myPicture img {
  max-width: 100%;
  width: 100%;
  border-radius: 50%;
  border: 5px solid #212D40;
}

@media (max-width: 1100px) {
  .aboutMeText {
    width: 80%;
    margin-left: 2%;
  }
}

@media (max-width: 960px) {
  .aboutMeContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .myPicture {
    width: 60%;
  }
  .aboutMeText h2 {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .aboutMeText {
    width: 100%;
  }
}

.myPortfolio {
  padding: 3% 0;
  background-color: #212D40;
}

.myPortfolio h2 {
  margin: 0 0 2%;
  text-align: center;
  color: #ffe7d4;
}

.myPortfolio h4 {
  color: #ffe7d4;
}

.myPortfolio h5 {
  color: white;
}

.myPortfolio p {
  color: #7CA5B8;
}

.myPortfolio button {
  border-radius: 20px;
  background-color: white;
}

.portfolioPieces {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reportCardIcon {
  width: 25px;
}

.item {
  width: 23%;
  margin: 0 0.5%;
  text-align: center;
}

.itemFocus {
  border: 2px solid yellow;
}

.item h4 {
  margin: 0 0 5px;
  font-size: 1rem;
  text-align: center;
}

.itemImg {
  width: 100%;
}

.focusedPiece {
  width: 90%;
  margin: 5% auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.liveButtons {
  display: block;
}

.liveButtons button {
  width: 125px;
  margin: 15px 5px;
  padding: 5px;
}

.laptopScreen {
  width: 40%;
}

.laptopScreen img {
  max-width: 100%;
}

.focusedPieceText {
  width: 55%;
}

.focusedPieceText h4 {
  font-size: 1.6rem;
}

.focusedPieceText h4,
.focusedPieceText h5,
.focusedPieceText p {
  margin-bottom: 10px;
}

.visible {
  display: block;
}

.visibleButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.invisible {
  display: none;
}

.flexedDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.showSkills i {
  margin: 10px;
  font-size: 25px;
}

@media (max-width: 1250px) {
  .myPortfolio h4 {
    font-size: 1.4rem;
  }
}

@media (max-width: 1400px) {
  .liveButtons button {
    width: 125px;
    margin: 15px 5px;
    padding: 2.5px;
  }
}

@media (max-width: 1100px) {
  .focusedPiece {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .laptopScreen {
    width: 60%;
    margin-bottom: 15px;
  }
  .focusedPieceText {
    text-align: center;
  }
}

@media (max-width: 700px) {
  .focusedPieceText {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .laptopScreen {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .myPortfolio h4 {
    font-size: 1.2rem;
  }
}

.mySkills {
  padding: 3% 0;
}

.mySkills h2 {
  margin: 0 0 2%;
  text-align: center;
}

.mySkillsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skill {
  width: 20%;
  margin: 0 2.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.skill i {
  font-size: 100px;
  padding: 5% 0;
}

.firebaseSkill {
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 1100px) {
  .skill {
    width: 29%;
    margin: 2%;
  }
  .skill i {
    padding: 2.5%;
  }
}

@media (max-width: 800px) {
  .skill i {
    font-size: 80px;
  }
}

@media (max-width: 600px) {
  .skill {
    width: 40%;
    margin: 0 5%;
  }
}

.contact {
  padding: 2% 0;
  background-color: #212D40;
}

.contact h2 {
  text-align: center;
  color: #ffe7d4;
  margin-bottom: 2%;
}

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2% 0;
  width: 100%;
}

.inputs {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact input {
  width: 45%;
  margin: 1% 0;
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #E3E4DB;
}

.contact textarea {
  width: 80%;
  margin: 1% 0;
  height: 250px;
  background-color: transparent;
  border: 3px solid #E3E4DB;
}

button[type="submit"] {
  padding: 5px;
  background-color: #E3E4DB;
  color: #212D40;
}

.contactInfo {
  color: #ffe7d4;
  width: 40%;
}

.contact button[type="submit"] {
  border-radius: 20px;
  margin: 5px 0;
  padding: 5px;
}

@media (max-width: 800px) {
  .inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact input {
    width: 100%;
  }
}

footer {
  text-align: center;
  padding: 5px;
  background-color: #212d40aa;
  color: #ffe7d4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer img {
  width: 50px;
}

footer i {
  font-size: 50px;
}

.socialMedia {
  width: 30%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=styles.css.map */